html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  padding: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.pages-container {
  display: flex;
  list-style: none;
}

.page-item {
  padding: 0.5rem;
  cursor: pointer;
  border: 1px solid blue;
  margin-right: 0.25rem;
}

.page-item:hover {
  background-color: blue;
  color: white;
}

.page-item.active {
  transform: scale(1.1);
  background-color: blue;
  color: white;
}
