html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  padding: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.table-container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.274);
}
.table {
  margin: 1.5rem;
  width: 80%;
  height: 400px;
}
.table th {
  text-align: left;
}
th {
  padding-bottom: 1rem;
  font-size: 1.1rem;
}
td {
  border-top: 1px solid rgba(0, 0, 255, 0.185);
  padding: 0.7rem 0;
}

.table .center {
  padding-left: 1rem;
  padding-right: 1rem;
}
caption {
  font-size: 1.4rem;
  margin-bottom: 1.3rem;
  color: blue;
  font-weight: 600;
}
.pages-container {
  display: flex;
  list-style: none;
}

.page-item {
  padding: 0.5rem;
  cursor: pointer;
  border: 1px solid blue;
  margin-right: 0.25rem;
}

.page-item:hover {
  background-color: rgba(46, 46, 214, 0.253);
  color: white;
}

.page-item.active {
  transform: scale(1.1);
  background-color: blue;
  color: white;
}
